#chatapp {
    display: flex;
    flex-direction: row;
}
#messages {
    background-color: beige;
    flex-grow: 1;
}
#rooms {
    background-color: lightblue;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.room, .message {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid gray;
}

#new-message {
    margin: 0.5rem;
    display: flex;
}

#new-message input[type="text"] {
    flex-grow: 1;
    margin-right: 0.2rem;
}

.messsage form {
    display: inline-block
}